@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  *, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  html { scroll-behavior: smooth; }

  body {
    @apply bg-base text-white antialiased overflow-x-hidden;
    font-family: var(--font-inter), sans-serif;
  }
}
